# Server
PORT=8080
ENV=development

# Database
DATABASE_URL=postgres://pulse:pulse@localhost:5432/pulse_db?sslmode=disable

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=troque-isso-por-algo-seguro
JWT_EXPIRATION=24h

# Worker
WORKER_CONCURRENCY=10
